@import url('https://fonts.googleapis.com/css?family=Roboto');

input{
 text-transform: lowercase;
 resize: none;
 width: 250px;
 height: 20px;
 font-family: 'Roboto', sans-serif;
 font-size: 18px;
}

h1{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container{
    margin: auto;
    width: 50%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 2px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}